.error {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff6060;
  margin-top: 144px;
}
@media screen and (max-width: 376px) {
  .error {
    margin-top: 86px;
  }
}
.error__title {
  font-weight: 700;
  font-size: 288px;
  margin-bottom: 139px;
}
@media screen and (max-width: 376px) {
  .error__title {
    font-size: 96px;
    margin-bottom: 113px;
  }
}
.error__paragraph {
  width: 260px;
  text-align: center;
  line-height: 142.6%;
  margin-bottom: 139px;
}
@media screen and (max-width: 376px) {
  .error__paragraph {
    margin-bottom: 113px;
  }
}
.error__link {
  color: #ff6060;
  margin-bottom: 86px;
}