.housingBanner 
    position: relative
    margin: 0 6.9% 30px 6.9%
    &__arrowNext 
        position: absolute
        top: 40%
        right: 20px
    &__arrowPrev
        position: absolute
        top: 40%
        left: 20px
    &__slide
        &__img 
            height: 415px
            width: 100%
            object-fit: cover
            border-radius: 25px
    &__slide.inactive
    &__slide.active
        width: 100%
        