.housing__identityRate {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 775px) {
  .housing__identityRate {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.housing__identityRate__identity {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 27px;
}
@media screen and (max-width: 775px) {
  .housing__identityRate__identity {
    margin: 0;
  }
}
.housing__identityRate__identity__name {
  width: 93px;
  padding: 13px 10px 0 0;
  font-size: 18px;
  text-align: right;
  color: #FF6060;
}
@media screen and (max-width: 650px) {
  .housing__identityRate__identity__name {
    width: 85px;
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  .housing__identityRate__identity__name {
    width: 68px;
    font-size: 12px;
  }
}
.housing__identityRate__identity__img {
  width: 64px;
  height: 64px;
  border-radius: 30px;
}
@media screen and (max-width: 650px) {
  .housing__identityRate__identity__img {
    width: 48px;
    height: 48px;
  }
}
.housing__identityRate__rate {
  display: flex;
}
.housing__identityRate__rate__img {
  height: 24px;
  margin-left: 15px;
}
@media screen and (max-width: 650px) {
  .housing__identityRate__rate__img {
    height: 20px;
  }
}
@media screen and (max-width: 400px) {
  .housing__identityRate__rate__img {
    height: 14px;
  }
}