.housing__locationTags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FF6060;
}
@media screen and (max-width: 400px) {
  .housing__locationTags {
    flex-direction: column;
  }
}
.housing__locationTags__title {
  max-width: 600px;
  margin-bottom: 20px;
}
@media screen and (max-width: 400px) {
  .housing__locationTags__title {
    max-width: 335px;
  }
}
.housing__locationTags__title__h1 {
  font-size: 36px;
  margin-bottom: 8px;
  line-height: 142.6%;
}
@media screen and (max-width: 650px) {
  .housing__locationTags__title__h1 {
    font-size: 27px;
  }
}
@media screen and (max-width: 400px) {
  .housing__locationTags__title__h1 {
    font-size: 18px;
  }
}
.housing__locationTags__title__city {
  height: 26px;
  font-size: 18px;
}
@media screen and (max-width: 400px) {
  .housing__locationTags__title__city {
    height: 22px;
    font-size: 14px;
    width: 100%;
  }
}
.housing__locationTags__tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.housing__locationTags__tags__list {
  color: #fff;
  background: #FF6060;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  width: 160px;
  text-align: center;
  margin: 0 10px 10px 0;
}
@media screen and (max-width: 870px) {
  .housing__locationTags__tags__list {
    width: 140px;
    font-size: 13px;
  }
}
@media screen and (max-width: 550px) {
  .housing__locationTags__tags__list {
    width: 120px;
    font-size: 10px;
    padding: 5px;
  }
}