.housingHost
    display: flex
    justify-content: space-between
    margin: 0 6.9% 0 6.9%
    color: #FF6060
    &__title
        width: 600px
        &__h1
            font-size: 36px
            margin-bottom: 8px
        &__city
            height: 26px
            font-size: 18px
    &__identity
        display: flex
        &__name
            width: 93px
            padding : 13px 10px 0 0
            font-size: 18px
            text-align: right
        &__img
            width: 64px
            height: 64px
            border-radius: 30px
